{% extends '_base.html' %}
{% load static %}

{% block title %}File Explorer{% endblock title %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <img src="{% static 'images/lab_logo1.png' %}" class="img-fluid" alt="lab logo"/>
</div>

{% if empty_directory %}
  <p class="lead">This directory is empty.</p>
{% else %}
  <div class="container">
    <hr>
    <div class="col-md-12">
      <h2 class="text-center mx-auto lead display-6">Dataset File Explorer</h2>
      <p class="lead">Root Directory: <a href="{% url 'file_explorer' path='' %}">{{ root_dir }}/</a></p>
      <p class="lead">Working Directory: {{ display_path }}</p>

      {% if not path %}
        <!-- We are at the root directory, show only top-level directories -->
        <div class="container mt-4">
          <h2 class="mb-3">Datasets:</h2>
          <p>Note that downloadable CSVs are currently unavailable for datasets that are not BIDS compatible</p>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Directory Name</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for directory, info in directory_info.items %}
              <tr>
                <td>{{ info.dataset_name}} ({{info.path_in_drive}})/</td>
                <td>
                  <!-- Explore Files Button -->
                  <a href="{% url 'file_explorer' path=info.path_in_drive|add:'/' %}" class="btn btn-outline-secondary btn-sm me-2">
                    <i class="fas fa-folder-open me-2"></i>Explore Files
                  </a>
                  <!-- Download CSV Button -->
                  {% if info.in_database %}
                  <a href="{% url 'generate_csv' dataset_path=info.path_in_db %}" class="btn btn-outline-primary btn-sm">
                    <i class="fas fa-download me-2"></i>Download CSV
                  </a>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
      <!-- Inside a subdirectory -->
      <div class="mt-3">

        {% if download_csv %}
          {% with clean_path=display_path|slice:":-1" %}
          <a href="{% url 'generate_csv' dataset_path=dataset_path_in_db %}" class="btn btn-outline-primary btn-sm">
            <i class="fas fa-download me-2"></i>Download Dataset CSV
          </a>
          {% endwith %}
        {% endif %}
        <br><br>
        {% for file_name, file_content in contents.text_content.items %}
            <div class="accordion" id="accordionExample{{ forloop.counter }}">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading{{ forloop.counter }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                            {{ file_name }}
                        </button>
                    </h2>
                    <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="heading{{ forloop.counter }}" data-bs-parent="#accordionExample{{ forloop.counter }}">
                        <div class="accordion-body">
                            <a href="{% url 'file_viewer' path=path|add:'/'|add:file_name %}" class="btn btn-outline-primary btn-sm">
                              <i class="fas fa-download me-2"></i>Download {{ file_name}}
                            </a>
                            <pre><code>{{ file_content }}</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        
    
        {% for file in contents.files %}
            <li><a href="{% url 'file_viewer' path=path|add:'/'|add:file %}">{{ file }}</a></li>
        {% endfor %}
        <br>
        <hr>

      </div>
      <p class="lead">Subjects</p>
      <!-- Recursive directory contents -->
      {% include "includes/directory_structure.html" with contents=contents path=path prefix=path %}
      {% endif %} <!-- Closes the else clause for if not path -->

    </div>
  </div>
{% endif %} <!-- Closes the else clause for if empty_directory -->

{% endblock content %}
