{% extends '_base.html' %}
{% load static %}

{% block title %}File Explorer{% endblock title %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <img src="{% static 'images/lab_logo1.png' %}" class="img-fluid" alt="lab logo"/>
</div>

<div class="container">
  <p class="lead">Root Directory: <a href="{% url 'file_explorer' path='' %}">{{ root_dir }}/</a></p>
  <p class="lead">Working Directory: {{ display_path }}</p>
  
  {% if empty_directory %}
    <p>This directory is empty.</p>
  {% else %}
    <hr>
    <div class="col-md-12">
      <h2 class="text-center mx-auto lead display-6">Dataset File Explorer</h2>
      
      {# Recursively list directories and files #}
      {% include "includes/directory_structure.html" with contents=contents path=path %}
      
    </div>
  {% endif %}
</div>

{% endblock content %}
