{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<form method="get">

    <!-- Bootstrap Accordion wrapper -->
    <div class="accordion" id="searchAccordion">
    
        <!-- Loop through each form field -->
        {% for field in form %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ field.name }}">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ field.name }}" aria-expanded="true" aria-controls="collapse{{ field.name }}">
                    {{ field.label }}
                </button>
            </h2>
            <div id="collapse{{ field.name }}" class="accordion-collapse collapse" aria-labelledby="heading{{ field.name }}" data-bs-parent="#searchAccordion">
                <div class="accordion-body">
                    {{ field|as_crispy_field }}
                </div>
            </div>
        </div>
        {% endfor %}
        
    </div>

    <!-- Place the submit button within the form but outside the accordion -->
    <input type="submit" value="Search" class="btn btn-primary my-2">

</form>

{% if results %}
  <ul>
    {% for dataset in results %}
      <li>{{ dataset.dataset_name }}</li>
    {% endfor %}
  </ul>
{% endif %}

{% endblock %}
