{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="accordion" id="searchAccordion">
  <!-- Accordion item 1 -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Search Options
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#searchAccordion">
      <div class="accordion-body">
        <form method="get">
          {{ form|crispy }}
          <input type="submit" value="Search">
        </form>
      </div>
    </div>
  </div>
  <!-- You can add more accordion items if needed -->
</div>

{% if results %}
    <ul>
        {% for dataset in results %}
            <li>{{ dataset.dataset_name }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}
