{% for directory, sub_contents in contents.directories.items %}
  {% with unique_id=path|add:directory|slugify %}
    <div class="accordion accordion-flush mb-2" id="accordion{{ unique_id }}">
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading{{ unique_id }}">
          <button class="accordion-button collapsed py-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ unique_id }}" aria-expanded="false" aria-controls="collapse{{ unique_id }}">
            {{ directory }}
          </button>
        </h2>
        <div id="collapse{{ unique_id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ unique_id }}" data-bs-parent="#accordion{{ unique_id }}">
          <div class="accordion-body p-2">
            <!-- List files if there are any -->
            {% if sub_contents.files %}
              <p class="mb-2"><strong>Files:</strong></p>
              <ul class="list-group list-group-flush">
              {% for file in sub_contents.files %}
                <li class="list-group-item px-2 py-1">
                  <a href="{% url 'file_viewer' path=path|add:directory|add:'/'|add:file %}" class="link-secondary">{{ file }}</a>
                </li>
              {% endfor %}
              </ul>
            {% endif %}
            <!-- Recursively include this template to show nested directories -->
            {% if sub_contents.directories %}
              <p class="mb-2"><strong>Subdirectories:</strong></p>
              {% include "includes/directory_structure.html" with contents=sub_contents path=path|add:directory|add:'/' prefix=unique_id %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endwith %}
{% endfor %}

